/* modal zoom */

.zoom-enter .content {
    opacity: 0;
    transform: translateX(-100%)
}

.zoom-enter-active .content {
    opacity: 1;
    transform: translateX(0)
}

.zoom-exit .content {
    opacity: 1;
}

.zoom-exit-active .content {
    opacity: 0;
    transform: translateX(-100%)
}

.zoom-enter .overlay {
    opacity: 0;
}

.zoom-enter-active .overlay {
    opacity: 1;
}

.zoom-exit .overlay {
    opacity: 1;
}

.zoom-exit-active .overlay {
    opacity: 0;
}

/* modal zoom */

.zoom-enter .zoom {
    opacity: 0;
    transform: scale(0.5)
}

.zoom-enter-active .zoom {
    opacity: 1;
    transform: scale(1)
}

.zoom-exit .zoom {
    opacity: 1;
}

.zoom-exit-active .zoom {
    opacity: 0;
    transform: scale(0.5)
}